@import "header.scss";
@import "post.scss";
@import "content.scss";
@import "sidebar.scss";
@import "footer.scss";
@import "comments.scss";
@import "partials/variables.scss";

body{
    background-color: $bg;
    height: 100%;
    width: 100vw;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    img{
        max-width: 100%;
        height: auto;
        border-radius: 3%;
    }
  
 h1{
            font-family: 'Didot';
          }
.main-wrapper{
    max-width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2em;
    margin:4em;
    padding: 2em;
    border: solid $dustypink;
    border-radius: 1em;
   div{
    max-width:40%;
      }
      }
  }
.column{
    flex-direction: column;
}

main{
    height: 100%;
    margin: 0;
}
input, textarea{
    border: solid $dustypink;
    border-radius: 10px;
    background-color: $lightpink;
}
li {
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
}
a{
    text-decoration: none;
    text-transform: none;
    color: $link;
    text-shadow: 1px 1px 4px rgb(244, 238, 244);
}
.home-container{
    position: relative;
    text-align: center;
    color: white;
        &__text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
.footer-wrapper{
    padding: 4em;
    background-color: $dustypink;
  }
  .frontpage-img{
    padding: 5%;
    width: 500px;
    height: 200px;
  }
  .main-wrapper{
    background-color: rgb(244, 229, 248);
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #container{
    display: flex; 
    justify-content: center;
  }
  .margin-container{
    height: 3.5rem;
  }