.comment-body {
  padding: 1em;
  margin: 1em;
  margin: 2rem auto;
  max-width: 40ch;
  border: 4px solid #ccf3d5;
  border-style: dotted;
  border-radius: 1em;
  color: #f1e4e4;
  padding: 2ch;
  position: relative;
}
.comment-body p {
  color: rgb(104, 169, 216);
}