.bar-wrapper {
  background-color: rgb(232, 222, 231);
}

.nav-wrapper {
  background-color: rgb(232, 222, 231);
}

.post-wrapper {
  margin: 0;
  display: flex;
  width: 70%;
}

.post-container {
  background-color: rgb(245, 241, 236);
  margin: 2rem;
  padding: 40px;
  width: 70%;
  height: auto;
  border: solid rgb(232, 222, 231);
  border-color: rgb(248, 222, 222);
  float: left;
  border-width: 4px 9px 5px 8px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}
.post-container__meta {
  display: flex;
  justify-content: space-evenly;
}
.post-container__img {
  display: flex;
  justify-content: center;
  width: 70%;
  border-radius: 5%;
  border: solid rgb(232, 222, 231);
  border-width: 4px 9px 5px 8px;
}

.container {
  background-color: rgb(245, 241, 236);
  margin: 1em;
  padding: 1em;
  width: 100%;
  height: 100%;
  border: solid rgb(232, 222, 231);
  border-color: rgb(248, 222, 222);
  float: left;
  border-width: 4px 9px 5px 8px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  min-width: 75%;
}

body {
  background-color: rgb(236, 242, 245);
  height: 100%;
  width: 100vw;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
body img {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}
body .sidebar {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.main-wrapper {
  max-width: 100%;
  height: 100%;
  margin-top: 2em;
  margin: 2em;
  padding: 2em;
  border: solid rgb(232, 222, 231);
  border-radius: 1em;
}

main {
  height: 100%;
  margin: 0;
}

input, textarea {
  border: solid rgb(232, 222, 231);
  border-radius: 10px;
  background-color: rgb(243, 236, 242);
}

li {
  list-style-type: none;
  text-decoration: none;
  text-transform: none;
}

a {
  text-decoration: none;
  text-transform: none;
  color: pink;
  text-shadow: 1px 1px 4px rgb(244, 238, 244);
}

.custom-wrapper {
  display: flex;
}
.custom-wrapper__sidebar ul {
  flex-direction: column;
}

.home-container {
  position: relative;
  text-align: center;
  color: white;
}
.home-container__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-wrapper {
  background-color: rgb(232, 222, 231);
}

.widget {
  margin: 0;
  width: 100%;
  height: 100%;
}