.custom-sidebar {
  width: 25%;
}

.custom-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  width: 95%;
}
.custom-wrapper__sidebar {
  width: 100%;
  padding: 2em;
}
.custom-wrapper__sidebar ul {
  flex-direction: column;
}
.custom-wrapper__sidebar ul p {
  display: none;
}